*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}
@font-face{
    font-family: myfont;
    src: url(./sign.ttf);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    margin-left: 20px;
}
h2{
    position: relative;
    font-size: 2em;
    color: #222;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    color: rgb(234, 234, 234);
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid rgb(233, 233, 233);
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 10px rgb(231, 231, 231)) drop-shadow(0 0 2.5px rgb(225, 225, 225));
}
@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
.img{
    position: relative;
    width: 2rem;
}
.thanks{
    padding-top: 30px;
    color: rgb(233, 233, 233);
}
.menagement{
    padding-top: 50px;
    color: rgb(235, 235, 235);
    font-family: myfont;
    font-size: 40px;
}
